#core robot framework
robotframework==7.4.2
#selenium library for web automation
robotframework-seleniumlibrary==6.8.0
#parallel execution
robotframework-pabot==5.2.2
#data driven testing
robotframework-datadriver[XLS]==1.11.2
#load config for env
python-dotenv==1.2.2
PyYAML==6.0.3
selenium==4.24.0
webdriver-manager==4.0.2
